@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* Navbar.css */
.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    width: 100%;
  }
  
  .navbar-top {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .logo-home {
    height: 80px; 
    width: auto; 
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .icons {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .icons i {
    font-size: 20px;
    color: #000;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-size: 21px;
    position: relative;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 0.5px;
    background-color: #000;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: width 0.3s;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  