@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.feedback-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    transition: transform 0.2s ease-in-out;
  }
  
  .feedback-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Allura', cursive;     
    font-weight: bold;
    color: #000;
    font-size: 35px;
  }
  
  .form-group-feedback {
    margin-bottom: 10px;
  }
  
  .form-group-feedback label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
  }
  
  .form-group-feedback  input,
  .form-group-feedback  textarea,
  .form-group-feedback  select {
    width: 100%;
    padding: 6px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    font-size: 13px;
    font-family: "Unbounded", sans-serif;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn-feedback  {
    background-color: #ff7b54;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
    font-family: "Gruppo", sans-serif;  
    font-weight: bolder;
    margin-left: 130px;
    margin-top: 20px;
  }
  
  .btn-feedback:hover {
    background-color: #e76541;
  }
  
  .message-feedback  {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-weight: bold;
    font-family: "Unbounded", sans-serif;
  }
  