@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.hero-image {
  position: relative;
  background-image: url('../images/top-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; 
  }

.hero-text h1 {
  font-family: 'Allura', cursive;
  font-size: 4.2em;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
  width: 1000px;
}

.hero-text p {
  font-family: 'Allura', cursive;
  font-size: 2.2em;
  margin-top: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.cta-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #ff7b54;
    color: white;
    text-transform: uppercase;
    font-family: "Gruppo", sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    border: 2px solid #ff7b54
  }
  
  .cta-button:hover {
    background-color: #e76541;
  }
  


  /* Services Section */
.services-section {
    padding: 60px 10px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .services-section h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Allura', cursive;
    font-weight: bold;
  }
  
  .service-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .service-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 350px; 
  }

  .service-card p{
    text-align: left;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
  }
  
  .service-card img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
  }
  
  .service-card h3 {
    font-size: 21px;
    margin-top: 15px;
    font-family: "Unbounded", sans-serif;
    font-weight: 900px;
  }
  
  .service-card p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .service-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #434343;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: "Gruppo", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
  }
  
  .service-card .btn:hover {
    background-color: #ff5b3b;
  }
  

  /* Image & Text Section */
  .image-text-section {
    padding: 80px 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .image-text-container {
    display: flex;
    gap: 100px;
  }
  
  .image-text-container img {
    width: 50%;
    height: auto;
    max-height: 400px; 
    object-fit: cover; 
  }
  
  .text-content {
    width: 50%;
    padding-top: 40px;
  }
  
  .text-content h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Allura', cursive;
    font-weight: bold;
  }
  
  .text-content p {
    font-size: 17px;
    margin-bottom: 30px;
  }
  
  .text-content .btn {
    padding: 10px 20px;
    background-color: #ff7b54;
    color: white;
    border-radius: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: "Gruppo", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .text-content .btn:hover {
    background-color: #ff5b3b;
  }
  

  
  /* Past Events Slider */
  .photo-grid-section {
    padding: 60px 120px;
    text-align: center;
  }
  
  .photo-grid-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Allura', cursive;
    font-weight: bold;
    text-align: left;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
  }
  
  .photo-item {
    overflow: hidden;
    border-radius: 0px;
    position: relative;
  }
  
  .photo-item img {
    width: 100%;
    height: 230px; 
    object-fit: cover; 
    display: block;
    border-radius: 0px; 
  }


  /* Call to Action Section */
  .cta-section {
    padding: 60px 20px;
    background-color: #f0f0f0;
    text-align: center;
    color: black;
  }
  
  .cta-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Allura', cursive;
    font-weight: bold;
  }
  
  .cta-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-section .btn {
    padding: 15px 30px;
    background-color: #ff7b54;
    color: #fff;
    border-radius: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: "Gruppo", sans-serif;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .cta-section .btn:hover {
    background-color: #e76541;
  }