/* UserProfile.css */
.profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #76b852, #8DC26F);
    font-family: 'Unbounded', sans-serif;
    margin-top: 40px;
}

.profile-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Gruppo', sans-serif;
    margin-bottom: 20px;
}

.profile-wrapper {
    display: flex;
    gap: 20px;
}

.profile-card {
    flex: 0.3; /* Zvogëlo madhësinë e kartelës së profilit */
    text-align: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Kufizo gjerësinë maksimale për ta bërë më të vogël */
    height: 200px;
    margin-top: 80px;
    padding-top: 50px;
}

.profile-icon {
    font-size: 60px; /* Zvogëlo madhësinë e ikonës */
    color: #6c757d;
}

.profile-name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.profile-content {
    flex: 1.7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-section {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4d4d4d;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.info-table,
.reservation-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-table td,
.reservation-table th,
.reservation-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.reservation-table th {
    background: #f0f0f0;
    font-weight: bold;
}

.reservation-table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff7b54;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gruppo', sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .back-button:hover {
    background-color: #e76541;
  }
  